<head>
  <title>
    Swiiter
  </title>  
  <%= stylesheet_link_tag "confirm.css" %>
</head>
<body>
  <div class="container">
    <div class="navbar" id="main-navbar">
      <h1>Swiiter</h1>
    </div>
    <div class="mainbody">
      <p><%= notice %></p><br>
      <div class="col1">
        <p class="swiit-user">User: <%= @swiit.user %> </p>
        <br>
        <p class="swiit-user">N. Swiits :<%= @swiit.id.count %></p>
      </div>
      <div class="col2">
        <h3>Send with the following contents</h3>
        <%= form_with(model: @swiit, url: swiits_path, local: true) do |form| %>
          <%= form.hidden_field :user class="swiit-user" %>
          <%= form.hidden_field :content class="swiit-user" %>
          <p>user:<%= @swiit.user class="swiit-user"%></p>
          <p>Content:<%= @swiit.content class="swiit-content" %></p>
          <%= form.submit  "Post" class: "btn-D" %>
          <%= form.submit "back", name: 'back' class: "btn-D"%>
        <% end %>
      </div>
      <div class="col3">
        <table>
          <tr>
            <td><%= link_to "Return to swiit list screen", swiits_path class: "btn-new"%> </td>
          <tr>     
        </table>
      </div>    
    </div>
  </div>
</body>
<footer>
  <h3>Enjoy swiit</h3>
</footer>