<div class="container">
  <div class="navbar" id="main-navbar">
    <h1>Swiiter</h1>
  </div>
  <div class="mainbody">
    <p><%= notice %></p><br>
    <div class="col1">
     
    </div>
    <div class="col2">
      <h3>Send with the following contents</h3>
      <%= form_with(model: @swiit, url: swiits_path, local: true) do |form| %>
        <%= form.hidden_field :title %>
        <%= form.hidden_field :content %>
        <p>title:<%= @swiit.title %></p>
        <p>Content:<%= @swiit.content %></p>
        <%= form.submit  "post" %>
        <%= form.submit "back", name: 'back' %>
      <% end %>
    </div>
    <div class="col3">
      <table>
        <tr>
          <td><%= link_to "Swiit home", swiits_path, class: "btn-new"%> </td>
        <tr>     
      </table>
    </div>    
  </div>
</div>
