<div class="mainbody">
  <p><%= notice %></p><br>
  <div class="col1">     
  </div>
  <div class="col2">
    <table class="main-swiits">
    <% @swiits.each do |swiit| %>
    <tr class="tr-displays">
      <td class="swiit-content", colspan="3"><%= swiit.content%> </td>
      <td></td>
      <td></td>
    </tr>
    <tr class="tr-links">
      <td><%= link_to 'Details', swiit_path(swiit.id), class: "btn-D"%></td>
      <td><%= link_to 'Edit', edit_swiit_path(swiit.id), data: { confirm: 'Can I really edit it?' }, class: "btn-D"%></td>
      <td><%= button_to 'Delete', swiit_path(swiit.id), method: :delete, data: { confirm: 'Are you sure to delete it?' }, class: "btn-D"%></td>
    </tr>
    <% end %>
    </table>
  </div>
  <div class="col3">
    <table>
      <tr>
        <td><%= link_to 'Post new Swiit ', new_swiit_path, class: "btn-new" %> </td>
      <tr>     
    </table>
  </div> 
</div>