<!DOCTYPE html>
<html>
  <head>
    <title>Swiit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="navbar" id="main-navbar">
            <h1>Swiit</h1>
      </div>
      <%= yield %>    
    </div>
  </body>
  <footer>
    <h1>Keep sharing Swiits!</h1>
  </footer>
</html>

